### Customer Behavior Analysis Project

In [1]:
### import libraries
import pandas as pd
import pymysql

### 1.pymysql connection

In [6]:
### python-sql connection
myconnection=pymysql.connect(host='127.0.0.1',user='root',port=3307,password='Nivetha@13')

In [8]:
### Create new database in Sql
db=("Create database Project_ShopEasy")
pd.read_sql_query(db,myconnection)

C:\Users\DELL\AppData\Local\Temp\ipykernel_4564\2262704626.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(db,myconnection)

DatabaseError: Execution failed on sql 'Create database Project_ShopEasy': (1007, "Can't create database 'project_shopeasy'; database exists")

### 2.Lodding Csv files into pandas

In [10]:
### Load CSV files
df_cj = pd.read_csv("C://Users//DELL//Downloads//PROJECT//ShopEasy//customer_journey.csv")
df_cr = pd.read_csv("C://Users//DELL//Downloads//PROJECT//ShopEasy//customer_reviews.csv")
df_ed = pd.read_csv("C://Users//DELL//Downloads//PROJECT//ShopEasy//engagement_data.csv")
df_p = pd.read_csv("C://Users//DELL//Downloads//PROJECT//ShopEasy//products.csv")
df_g = pd.read_csv("C://Users//DELL//Downloads//PROJECT//ShopEasy//geography.csv")
df_c = pd.read_csv("C://Users//DELL//Downloads//PROJECT//ShopEasy//customers.csv")

### 3.data Cleaning

### 1. data cleaning in cutomer_journey table

In [11]:
df_cj.dtypes

JourneyID       int64
CustomerID      int64
ProductID       int64
VisitDate      object
Stage          object
Action         object
Duration      float64
dtype: object

In [12]:
### visit date column in object so change to datetime format 
df_cj['VisitDate']=pd.to_datetime(df_cj['VisitDate'])

In [13]:
df_cj.dtypes

JourneyID              int64
CustomerID             int64
ProductID              int64
VisitDate     datetime64[ns]
Stage                 object
Action                object
Duration             float64
dtype: object

In [14]:
df_cj.isnull().sum()

JourneyID      0
CustomerID     0
ProductID      0
VisitDate      0
Stage          0
Action         0
Duration      14
dtype: int64

In [16]:
df_cj.head(10)

,JourneyID,CustomerID,ProductID,VisitDate,Stage,Action,Duration
0,1,64,18,2024-06-10,Checkout,Drop-off,NaN
1,2,94,11,2025-07-09,Checkout,Drop-off,NaN
2,3,34,8,2024-06-14,ProductPage,View,235.0
3,4,33,18,2025-05-28,Checkout,Drop-off,NaN
4,5,91,10,2023-02-11,Homepage,Click,156.0
...,...,...,...,...,...,...,...
95,96,22,9,2024-07-28,ProductPage,View,212.0
96,97,92,19,2025-05-26,homepage,View,203.0
97,98,95,8,2025-05-25,Homepage,Click,68.0
98,99,58,16,2024-07-06,Checkout,Purchase,87.0
99,100,92,10,2024-04-06,ProductPage,View,237.0

In [19]:
### duration columns have null values of action drop-off,
#so we fill null values with the Average duration of other action 
avg_duration=df_cj[df_cj['Duration'].notna()]['Duration'].mean()
df_cj['Duration']=df_cj['Duration'].fillna(avg_duration)

In [20]:
df_cj.isnull().sum()

JourneyID     0
CustomerID    0
ProductID     0
VisitDate     0
Stage         0
Action        0
Duration      0
dtype: int64

### 2.data Cleaning in customer_reviews table

In [21]:
df_cr.dtypes

ReviewID       int64
CustomerID     int64
ProductID      int64
ReviewDate    object
Rating         int64
ReviewText    object
dtype: object

In [23]:
df_cr['ReviewDate']=pd.to_datetime(df_cr['ReviewDate'])

In [26]:
df_cr.dtypes

ReviewID               int64
CustomerID             int64
ProductID              int64
ReviewDate    datetime64[ns]
Rating                 int64
ReviewText            object
dtype: object

In [42]:
df_cr.isnull().sum() ### checking for missing values

ReviewID      0
CustomerID    0
ProductID     0
ReviewDate    0
Rating        0
ReviewText    0
dtype: int64

### 3. data cleaning in engagement_data  table

In [28]:
df_ed.dtypes

EngagementID            int64
ContentID               int64
ContentType            object
Likes                   int64
EngagementDate         object
CampaignID              int64
ProductID               int64
ViewsClicksCombined    object
dtype: object

In [38]:
df_ed['EngagementDate']=pd.to_datetime(df_ed['EngagementDate']) 
### conveting date time format

In [39]:
df_ed.isnull().sum() ### checking for missing value

EngagementID           0
ContentID              0
ContentType            0
Likes                  0
EngagementDate         0
CampaignID             0
ProductID              0
ViewsClicksCombined    0
Views                  0
Clicks                 0
dtype: int64

In [32]:
### In this engagement_data views and clicks are combined in object data type 
# So we convert clicks and views in separate columns as integer data types
df_ed[['Views', 'Clicks']] = df_ed['ViewsClicksCombined'].str.split('-', expand=True).astype(int)

In [40]:
### drop the viewscliksCombined to columns
df_ed.drop(columns=['ViewsClicksCombined'], inplace=True)

In [41]:
df_ed.dtypes

EngagementID               int64
ContentID                  int64
ContentType               object
Likes                      int64
EngagementDate    datetime64[ns]
CampaignID                 int64
ProductID                  int64
Views                      int32
Clicks                     int32
dtype: object

### 4. data cleaning in products table

In [45]:
df_p.dtypes # checking for any incorrect data type format

ProductID        int64
ProductName     object
Category        object
Price          float64
dtype: object

In [46]:
df_p.isnull().sum() # checking for missing vlaues

ProductID      0
ProductName    0
Category       0
Price          0
dtype: int64

### 5. data cleaning in geography table

In [48]:
df_g.dtypes

GeographyID     int64
Country        object
City           object
dtype: object

In [49]:
df_g.isnull().sum()

GeographyID    0
Country        0
City           0
dtype: int64

### 6. data cleaning in Customers table

In [50]:
df_c.dtypes

CustomerID       int64
CustomerName    object
Email           object
Gender          object
Age              int64
GeographyID      int64
dtype: object

In [51]:
df_c.isnull().sum()

CustomerID      0
CustomerName    0
Email           0
Gender          0
Age             0
GeographyID     0
dtype: int64

### 4.Insert data into MySQL data base

In [60]:
cur=myconnection.cursor()

In [61]:
dtype_mapping={
    'int64':'INTEGER',
    'int32':'INTEGER',
    'float64':'FLOAT',
    'object':'TEXT',
    'datetime64[ns]':'DATETIME',
    'bool':'BOOLEAN'
}
tables = {
    "customer_journey": df_cj,
    "customer_reviews": df_cr,
    "engagement_data": df_ed,
    "products": df_p,
    "geography": df_g,
    "customer": df_c
}
for table_name, df in tables.items():
    columns=",".join(f"{col} {dtype_mapping[str (dtype)]}" for col, dtype in zip(df.columns, df.dtypes))
    #create table query
    table_query=f"CREATE TABLE Project_ShopEasy.{table_name}({columns})"
    cur.execute(table_query)
# Insert data into table
    for i in range(0,len(df)):
        cur.execute(f"INSERT INTO Project_ShopEasy.{table_name} VALUES {tuple(df.iloc[i])}")
    
    myconnection.commit() 
    print(f"{table_name} inserted Sucessfully!")

customer_journey inserted Sucessfully!
customer_reviews inserted Sucessfully!
engagement_data inserted Sucessfully!
products inserted Sucessfully!
geography inserted Sucessfully!
customer inserted Sucessfully!

### 5. Execute SQL Queries using Python to Analyze

In [75]:
myconnection=pymysql.connect(host='127.0.0.1',user='root',port=3307,password='Nivetha@13',database='Project_ShopEasy')
cursor=myconnection.cursor()

In [77]:
tables=['customer_journey','customer_reviews','engagement_data','products','geography','customer']
for table in tables:
    query = f"SELECT * FROM {table} LIMIT 5;"
    cursor.execute(query)
    rows = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]
    
    df = pd.DataFrame(rows, columns=columns)
    print(f"\n ###Table: {table}")
    print(df)

 ###Table: customer_journey
   JourneyID  CustomerID  ProductID  VisitDate        Stage    Action  \
0          1          64         18 2024-06-10     Checkout  Drop-off
1          2          94         11 2025-07-09     Checkout  Drop-off
2          3          34          8 2024-06-14  ProductPage      View
3          4          33         18 2025-05-28     Checkout  Drop-off
4          5          91         10 2023-02-11     Homepage     Click

   Duration
0   166.535
1   166.535
2   235.000
3   166.535
4   156.000

 ###Table: customer_reviews
   ReviewID  CustomerID  ProductID ReviewDate  Rating  \
0         1          77         18 2023-12-23       3
1         2          80         19 2024-12-25       5
2         3          50         13 2025-01-26       4
3         4          78         15 2025-04-21       3
4         5          64          2 2023-07-16       3

                                 ReviewText
0   Average  experience,  nothing  special.
1            The  quality  is    top-notch.
2   Five  stars  for  the  quick  delivery.
3  Good  quality,  but  could  be  cheaper.
4   Average  experience,  nothing  special.

 ###Table: engagement_data
   EngagementID  ContentID ContentType  Likes EngagementDate  CampaignID  \
0             1         39        Blog    190     2023-08-30           1
1             2         48        Blog    114     2023-03-28          18
2             3         16       video     32     2023-12-08           7
3             4         43       Video     17     2025-01-21          19
4             5         16  newsletter    306     2024-02-21           6

   ProductID  Views  Clicks
0          9   1883     671
1         20   5280     532
2         14   1905     204
3         20   2766     257
4         15   5116    1524

 ###Table: products
   ProductID      ProductName Category   Price
0          1    Running Shoes   Sports  223.75
1          2  Fitness Tracker   Sports  196.68
2          3         Yoga Mat   Sports  485.32
3          4        Dumbbells   Sports   26.21
4          5      Soccer Ball   Sports   41.26

 ###Table: geography
   GeographyID  Country    City
0            1       UK  London
1            2  Germany  Berlin
2            3   France   Paris
3            4    Spain  Madrid
4            5    Italy    Rome

 ###Table: customer
   CustomerID      CustomerName                         Email  Gender  Age  \
0           1     Emma Anderson     emma.anderson@example.com    Male   50
1           2       Sarah Brown       sarah.brown@example.com  Female   37
2           3  Robert Hernandez  robert.hernandez@example.com  Female   26
3           4      David Garcia      david.garcia@example.com    Male   25
4           5       Emma Miller       emma.miller@example.com  Female   41

   GeographyID
0            2
1            4
2            6
3            8
4            4

### 1.Customer Engagement Analysis

### #What factors are influencing Customer engagement?

In [81]:
### Find most engaging content types in engagement data
query1="""
Select ContentType,Round(Sum(Likes)) as TotalLikes,Round(Sum(Clicks)) as TotalClicks,Round(Sum(Views)) as TotalViews 
from engagement_data
Group by ContentType
ORder by TotalLikes desc,TotalClicks desc,TotalViews desc;
"""
cursor.execute(query1)
results=cursor.fetchall()
results

(('video', Decimal('3473'), Decimal('13803'), Decimal('64073')),
 ('Blog', Decimal('2999'), Decimal('14300'), Decimal('65977')),
 ('Socialmedia', Decimal('2594'), Decimal('12498'), Decimal('59936')),
 ('newsletter', Decimal('1380'), Decimal('6350'), Decimal('37059')))

In [92]:
df_engagementResult = pd.DataFrame(results, columns=['ContentType','TotalLikes','TotalClicks','TotalViews'])
print("$$$ Most Engaging ContentType Results:\n", df_engagementResult)

$$$ Most Engaging ContentType Results:
    ContentType TotalLikes TotalClicks TotalViews
0        video       3473       13803      64073
1         Blog       2999       14300      65977
2  Socialmedia       2594       12498      59936
3   newsletter       1380        6350      37059

### $Videos getting  most likes, Blog getting most clicks and views than other content types.

In [86]:
#### Find which products are engaging customers the most.

Productquery="""
Select p.ProductName,Round(Sum(ed.Likes)) as TotalLikes,Round(Sum(ed.Clicks)) as TotalClicks,Round(Sum(ed.Views)) as TotalViews 
from engagement_data as ed
join products as p on ed.ProductID=p.ProductID
Group by p.ProductName
ORder by TotalLikes desc,TotalClicks desc,TotalViews desc 
LIMIT 5;
"""
cursor.execute(Productquery)
product_results=cursor.fetchall()
product_results

(('Kayak', Decimal('1231'), Decimal('6073'), Decimal('26456')),
 ('Running Shoes', Decimal('1160'), Decimal('6199'), Decimal('23158')),
 ('Football Helmet', Decimal('929'), Decimal('3223'), Decimal('13763')),
 ('Baseball Glove', Decimal('903'), Decimal('2484'), Decimal('7241')),
 ('Hockey Stick', Decimal('835'), Decimal('2548'), Decimal('15447')))

In [91]:
df_ProductEngagementResult = pd.DataFrame(product_results, columns=['ProductName','TotalLikes','TotalClicks','TotalViews'])
print("$$$ Most Engaging Product Results:\n", df_ProductEngagementResult)

$$$ Most Engaging Product Results:
        ProductName TotalLikes TotalClicks TotalViews
0            Kayak       1231        6073      26456
1    Running Shoes       1160        6199      23158
2  Football Helmet        929        3223      13763
3   Baseball Glove        903        2484       7241
4     Hockey Stick        835        2548      15447

### Kayak  and Running Shoes are the most engaging products.

### 2.Customer Journey Analysis

### # At what stage are customers dropping off in their journey?

In [120]:
### Find at which stage most customers drop off in their journey
dropoff_query="""
Select Stage,Count(*) as Dropoff_count
from customer_journey
where Action='Drop-off'
group by Stage
order by Dropoff_count desc;
"""
cursor.execute(dropoff_query)
dropoff_results=cursor.fetchall()
print(dropoff_results)

(('Checkout', 14),)

In [121]:
df_Dropoff_Stage=pd.DataFrame(dropoff_results,columns=['Stage','Dropoff_Counts'])
print(" $$$ Most Customer Dropoff Stage:\n",df_Dropoff_Stage)

 $$$ Most Customer Dropoff Stage:
       Stage  Dropoff_Counts
0  Checkout              14

### Most Customer are dropoff their journey in the checkout stage,
### so we need to improve our payment option in the checkout stage.

### 3.Customer Review Analysis

### #how do cusotmer reviews impact purchasing behavior?

In [222]:
review_query="""
SELECT 
    p.ProductName, 
    ROUND(AVG(cr.Rating), 2) AS AvgRating, 
    COUNT(DISTINCT cr.ReviewID) AS ReviewCount,
    COUNT(DISTINCT CASE WHEN cj.Action = 'Purchase' THEN cj.CustomerID END) AS PurchaseCount
FROM products AS p 
LEFT JOIN customer_reviews AS cr ON p.ProductID = cr.ProductID
LEFT JOIN customer_journey AS cj ON p.ProductID = cj.ProductID
GROUP BY p.ProductName
ORDER BY PurchaseCount DESC;
"""
cursor.execute(review_query)
result=cursor.fetchall()
print(result)

(('Climbing Rope', Decimal('4.00'), 6, 2), ('Surfboard', Decimal('3.89'), 9, 2), ('Fitness Tracker', Decimal('3.57'), 7, 1), ('Kayak', Decimal('3.40'), 10, 1), ('Baseball Glove', Decimal('3.40'), 5, 0), ('Basketball', Decimal('2.67'), 3, 0), ('Boxing Gloves', Decimal('4.00'), 2, 0), ('Cycling Helmet', None, 0, 0), ('Dumbbells', Decimal('3.00'), 5, 0), ('Football Helmet', Decimal('5.00'), 3, 0), ('Golf Clubs', Decimal('3.50'), 4, 0), ('Hockey Stick', Decimal('4.40'), 5, 0), ('Ice Skates', Decimal('3.00'), 2, 0), ('Running Shoes', Decimal('4.00'), 4, 0), ('Ski Boots', Decimal('4.00'), 6, 0), ('Soccer Ball', Decimal('4.00'), 3, 0), ('Swim Goggles', Decimal('3.67'), 9, 0), ('Tennis Racket', Decimal('3.86'), 7, 0), ('Volleyball', Decimal('4.00'), 3, 0), ('Yoga Mat', Decimal('3.71'), 7, 0))

In [223]:
df_reviews=pd.DataFrame(result,columns=['ProductName','AvgRating','ReviewCount','PurchaseCount'])
print(" Customer Reviews Impact on Purchasing:\n",df_reviews)

 Customer Reviews Impact on Purchasing:
         ProductName AvgRating  ReviewCount  PurchaseCount
0     Climbing Rope      4.00            6              2
1         Surfboard      3.89            9              2
2   Fitness Tracker      3.57            7              1
3             Kayak      3.40           10              1
4    Baseball Glove      3.40            5              0
5        Basketball      2.67            3              0
6     Boxing Gloves      4.00            2              0
7    Cycling Helmet      None            0              0
8         Dumbbells      3.00            5              0
9   Football Helmet      5.00            3              0
10       Golf Clubs      3.50            4              0
11     Hockey Stick      4.40            5              0
12       Ice Skates      3.00            2              0
13    Running Shoes      4.00            4              0
14        Ski Boots      4.00            6              0
15      Soccer Ball      4.00            3              0
16     Swim Goggles      3.67            9              0
17    Tennis Racket      3.86            7              0
18       Volleyball      4.00            3              0
19         Yoga Mat      3.71            7              0

### Customer Reviews Impact on purchasig Result shows that both Cusomer Reviews and Rating will impact on purchase .

### #Identifying top performing products,location and customer segments

### #1.Find top-selling products.

In [150]:
query="""
Select p.ProductName,Count(cj.CustomerID) as TotalPurchase
from customer_journey as cj
join products as p on cj.ProductID=p.ProductID
join customer as c on cj.CustomerID=c.CustomerID
where cj.Action='Purchase'
group by p.ProductName
order by TotalPurchase desc;
"""
cursor.execute(query)
topProducts=cursor.fetchall()
print(topProducts)

(('Surfboard', 2), ('Climbing Rope', 2), ('Fitness Tracker', 1), ('Kayak', 1))

In [151]:
df_topProducts=pd.DataFrame(topProducts,columns=['ProductName','TotalPurchase'])
print("Top Selling Products per Country:\n",df_topProducts)

Top Selling Products per Country:
        ProductName  TotalPurchase
0        Surfboard              2
1    Climbing Rope              2
2  Fitness Tracker              1
3            Kayak              1

### $ In this Surfboard and Climibing Rope are the top selling best products compared to other.

### #2.Finding Best Performing location

In [134]:
location_query="""
Select g.Country,g.City,Count(cj.CustomerID) as TotalPurchase
from geography as g 
join customer as c on c.GeographyID=g.GeographyID
join customer_journey as cj on c.CustomerID=cj.CustomerID
where cj.Action='Purchase'
group by g.Country,g.City
order by TotalPurchase desc;
"""
cursor.execute(location_query)
locResults=cursor.fetchall()
print(locResults)

(('Germany', 'Berlin', 1), ('UK', 'London', 1), ('Spain', 'Madrid', 1), ('Sweden', 'Stockholm', 1), ('Netherlands', 'Amsterdam', 1), ('Austria', 'Vienna', 1))

In [136]:
df_locResult=pd.DataFrame(locResults,columns=['Country','City','TotalPurchase'])
print("BEST PERFORMING LOCATION:\n", df_locResult)

BEST PERFORMING LOCATION:
        Country       City  TotalPurchase
0      Germany     Berlin              1
1           UK     London              1
2        Spain     Madrid              1
3       Sweden  Stockholm              1
4  Netherlands  Amsterdam              1
5      Austria     Vienna              1

### $ In this dont have one particular best performing country .

### #3.Best performing Customer Segment based on Age and Gender.

In [141]:
customer_query="""
SELECT 
c.Gender, 
CASE 
	WHEN c.Age BETWEEN 18 AND 25 THEN '18-25'
	WHEN c.Age BETWEEN 26 AND 35 THEN '26-35'
	WHEN c.Age BETWEEN 36 AND 45 THEN '36-45'
	ELSE '46+' 
END AS Age_Group,
COUNT(cj.CustomerID) AS Total_Purchases
FROM customer_journey as cj
JOIN customer as c ON cj.CustomerID = c.CustomerID
WHERE cj.Action = 'Purchase'
GROUP BY c.Gender, Age_Group
ORDER BY Total_Purchases DESC;
"""
cursor.execute(customer_query)
cusResults=cursor.fetchall()
print(cusResults)

(('Female', '46+', 2), ('Male', '46+', 1), ('Male', '26-35', 1), ('Female', '26-35', 1), ('Male', '18-25', 1))

In [142]:
df_customerSegment=pd.DataFrame(cusResults,columns=['Gender','AgeGroup','TotalPurchase'])
print("Best Performing Customer based on Gender & Age:\n",df_customerSegment)

Best Performing Customer based on Gender & Age:
    Gender AgeGroup  TotalPurchase
0  Female      46+              2
1    Male      46+              1
2    Male    26-35              1
3  Female    26-35              1
4    Male    18-25              1

### $ 46+ Agegroup Female is the best performing group.

### ###1.Customer Journey & Engagement Analysis

In [154]:
### $1. Identify Common Actions Leading to Successful Conversions

In [159]:
cj_query="""
SELECT cj.Stage, cj.Action, COUNT(*) AS ActionFrequency
FROM customer_journey as cj
WHERE cj.Action Not IN('drop-off') 
GROUP BY cj.Stage, cj.Action
ORDER BY ActionFrequency DESC;
"""
cursor.execute(cj_query)
cjResult=cursor.fetchall()
print(cjResult)

(('Homepage', 'View', 37), ('ProductPage', 'View', 21), ('Homepage', 'Click', 17), ('Checkout', 'Purchase', 6), ('ProductPage', 'Click', 5))

In [163]:
cjResult=pd.DataFrame(cjResult,columns=['Stage','Action','ActionFrequency'])
print(" Customer Journey Analysis:\n", cjResult)

 Customer Journey Analysis:
          Stage    Action  ActionFrequency
0     Homepage      View               37
1  ProductPage      View               21
2     Homepage     Click               17
3     Checkout  Purchase                6
4  ProductPage     Click                5

### $In this Above Result, It shows that only 6 members purchase after reaching checkout page ,Maximum customers are in Homepage & Products Page.

In [166]:
### #2.Calculate average duration per stage for engagement insights.

In [167]:
time_query="""
SELECT Stage, 
AVG(Duration) AS AvgDuration
FROM customer_journey
GROUP BY Stage
ORDER BY AvgDuration DESC;
"""
cursor.execute(time_query)
avgtime=cursor.fetchall()
print(avgtime)

(('ProductPage', 182.76923076923077), ('Checkout', 161.62441711425782), ('Homepage', 160.53703703703704))

In [168]:
df_AvgTimeResult=pd.DataFrame(avgtime,columns=['Stage','AvgDuration'])
print("Avg Duration per Stage:\n",df_AvgTimeResult)

Avg Duration per Stage:
          Stage  AvgDuration
0  ProductPage   182.769231
1     Checkout   161.624417
2     Homepage   160.537037

### Customer maximum spent their time at Product Page.
### Customers take the longest time here, indicating they need more confidence before purchasing.

### ### 2.Customer Review Analysis

In [183]:
ratedP_query="""
SELECT p.ProductName, ROUND(AVG(cr.Rating), 2) AS AvgRating, COUNT(cr.ReviewID) AS TotalReviews
FROM customer_reviews cr
JOIN products p ON cr.ProductID = p.ProductID
GROUP BY p.ProductName
ORDER BY AvgRating DESC, TotalReviews DESC;
"""
cursor.execute(ratedP_query)
rated_products=cursor.fetchall()
print(rated_products)

(('Football Helmet', Decimal('5.00'), 3), ('Hockey Stick', Decimal('4.40'), 5), ('Climbing Rope', Decimal('4.00'), 6), ('Ski Boots', Decimal('4.00'), 6), ('Running Shoes', Decimal('4.00'), 4), ('Volleyball', Decimal('4.00'), 3), ('Soccer Ball', Decimal('4.00'), 3), ('Boxing Gloves', Decimal('4.00'), 2), ('Surfboard', Decimal('3.89'), 9), ('Tennis Racket', Decimal('3.86'), 7), ('Yoga Mat', Decimal('3.71'), 7), ('Swim Goggles', Decimal('3.67'), 9), ('Fitness Tracker', Decimal('3.57'), 7), ('Golf Clubs', Decimal('3.50'), 4), ('Kayak', Decimal('3.40'), 10), ('Baseball Glove', Decimal('3.40'), 5), ('Dumbbells', Decimal('3.00'), 5), ('Ice Skates', Decimal('3.00'), 2), ('Basketball', Decimal('2.67'), 3))

In [230]:
df_RatedProducts=pd.DataFrame(rated_products,columns=['ProductName','Rating','TotalReviews'])
print("Products Rating List:\n",df_RatedProducts)

Products Rating List:
         ProductName Rating  TotalReviews
0   Football Helmet   5.00             3
1      Hockey Stick   4.40             5
2     Climbing Rope   4.00             6
3         Ski Boots   4.00             6
4     Running Shoes   4.00             4
5        Volleyball   4.00             3
6       Soccer Ball   4.00             3
7     Boxing Gloves   4.00             2
8         Surfboard   3.89             9
9     Tennis Racket   3.86             7
10         Yoga Mat   3.71             7
11     Swim Goggles   3.67             9
12  Fitness Tracker   3.57             7
13       Golf Clubs   3.50             4
14            Kayak   3.40            10
15   Baseball Glove   3.40             5
16        Dumbbells   3.00             5
17       Ice Skates   3.00             2
18       Basketball   2.67             3

### $In the Product Rating List ,Football Helmet is the Highest Rated Products and basket ball is the lowest rated product.

### ###3.Marketing Effectiveness

In [232]:
### Find Repeat Customers

In [237]:
repeatC_query="""
SELECT c.CustomerID, c.CustomerName, COUNT(cj.Action) AS TotalPurchases
FROM customer AS c
JOIN customer_journey AS cj ON c.CustomerID = cj.CustomerID
WHERE cj.Action = 'Purchase'
GROUP BY c.CustomerID, c.CustomerName
HAVING TotalPurchases >1
ORDER BY TotalPurchases DESC;
"""
cursor.execute(repeatC_query)
repeatCustomer=cursor.fetchall()
print(repeatCustomer)

()

### $ Above Result shows that ShopEasy dont have Repeat Customers and all the customers are first time buyers.

### So Customer Retention Rate  is 0%.

### ShopEasy Customer Behavior Analysis Project
### Key Takeaways:
* Optimize video and blog content to maintain high engagement.
* Improve the checkout process to reduce drop-offs.
* Encourage more customer reviews to drive sales.
* Focus on best-selling products & high-performing customer segments.
* Implement a retention strategy to convert first-time buyers into loyal customers.